*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}
.max-width{
    max-width: 1300px;
    padding: 0 50px;
    margin: auto;
}
.min-width{
    max-width: 1300px;
    margin: auto;
}
.navbar{
    background-color: #1e1833;
    width: 100%;
    padding: 30px 0;
    position: fixed;
    transition: all 0.3s ease;
    z-index: 999;
}
.sticky{
    padding: 15px 0;
    background: #1e1833;
}
.navbar .max-width{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo{
    background-color: #1e1833;
    width: 100%;
    /* color: #fff;
    font-size: 25px;
    font-weight: 600; */
}
.navbar .menu li{
    display: inline-block;
    list-style: none;
}
.navbar .menu li.item1 a{
    color: #fff;
    padding: 5px 11px;
    position: relative;
    font-size: 20px;
    letter-spacing: 0px;
    font-weight: 700;
    font-family: "Lato";
    /* transition: color 0.3s ease; */
}
.navbar ul li.item1::after{
    content: '';
    width: 0%;
    /* height: 2px; */
    background: #fff;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.navbar ul li.item1:hover::after{
    width: 80%;
    border: 3px solid #ffffff;
}

.navbar .menu li.item2 a{
    position: relative;
    padding: 7px 5px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
}
li.item3 a{
    position: relative;
    padding: 7px 5px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Lato";
}
.navbar ul li.item2::after{
    content: '';
    width: 0%;
    /* height: 10px; */
    padding-top: 0%;
    background: #fff;
    display: block;
    margin: auto;
    /* transition: 0.5s; */
}
.navbar ul li.item2:hover::after{
    width: 60%;
    border: 2px solid #ffffff;
    margin-top: -35%;
}

.sticky .menu li a:hover{
    color: #fff;
}
/* menu btn style */
.menu-btn{
    color: #fff;
    font-size: 23px;
    cursor: pointer;
    display: none;
}
/* end nav style */

/* start home style */

.home{
    padding-top: 7%;
    width: 100%;
    height: 724px;
    background-color: #1e1833;
}
.home-content{
    display: flex;
    position: relative;
}
p{
    font-size: 50px;
    letter-spacing: 1px;
    color: #feca01;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
    padding: 0 50px;
}
.mv-img1{
    display: block;
    width: 80%;
    margin-left: auto;
}
.mv-img2{
    display: none;
}
/* end home style */

/* start about style */
.abouts{
    width: 100%;
    height: 700px;
    background-color: #1e1833;
}
.about-item1{
    display: flex;
    position: relative;
    /* margin-top: 2%; */
    padding-left: 150px;
}
p.text1{
    
    font-size: 160px;
    letter-spacing: 3px;
    color: #5468a0;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
}
p.text2{
    padding-left: 200px;
    font-size: 40px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    margin-top: 75px;
}
.about-item2{
    padding: 15% 0 0 17%;
}
p.ai-text{
    /* margin-left: 22%;
    margin-top: 50px; */
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Noto Sans JP";
}
.about-item2 .right{
    padding-left: 50%;
}
.icon-img{
    height: 330px;
    width: 330px;
    object-fit: cover;
}
.section-img{
    /* margin-top: 15%; */
    background-color: #1e1833;
    width: 100%;
}
/* end about style */
/* start work style */
.works{
    width: 100%;
    /* height: 2320px; */
    height: 2330px;
    background-color: #fff599;
}
.work-item1{
    /* padding-top: 40px; */
    padding: 30px 0 0 340px;
    display: flex;
    position: relative;
}
.work-text1{
    /* padding-left: 440px; */
    font-size: 160px;
    letter-spacing: 3px;
    color: #ffe600;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
}
.work-text2{
    margin-top: 70px;
    margin-left: -200px;
    font-size: 40px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
}
.work-container{
    text-align: center;
    padding-top: 20%;
}
.work-item2 .left, .work-item4 .left, .work-item6 .left{
    width: 50%;
}
.work-item2 .left .work-it2-img1, .work-item4 .left .work-it2-img1, .work-item6 .left .work-it2-img1{
    width: 250px;
    height: 250px;
    position: absolute;
}
.work-item2 .left .work-it2-img2, .work-item4 .left .work-it2-img2, .work-item6 .left .work-it2-img2{
    width: 240px;
    height: 240px;
    position: absolute;
}
.work-item2 .left .work-it2-img3, .work-item4 .left .work-it2-img3, .work-item6 .left .work-it2-img3{
    width: 230px;
    height: 230px;
    position: absolute;
    padding: 33px;
}
.work-item2 .left .number1, .work-item4 .left .number3, .work-item6 .left .number5{
    font-size: 100px;
    letter-spacing: 2px;
    color: #feca01;
    font-weight: 400;
    font-family: "Lato";
    position: absolute;
    padding: 0 21%;
}
.work-item2 .right, .work-item4 .right, .work-item6 .right{
    width: 50%;
    padding: 0 45%;
}
.work-item2 .right .right-text1, .work-item4 .right .right-text1, .work-item6 .right .right-text1{
    font-size: 30px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 700;
    font-family: "Lato";
}
.work-item2 .right .right-text2, .work-item4 .right .right-text2, .work-item6 .right .right-text2{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #20273b;
    font-weight: 400;
    font-family: "Noto Sans JP";
    padding-top: 5%;
} 

/* item 3 */
.work-item3, .work-item5, .work-item7{
    padding-top: 25%;
}
.work-item3 .left, .work-item5 .left, .work-item7 .left{
    width: 50%;
    padding-left: 15%;
}
.work-item3 .left .left-text1, .work-item5 .left .left-text1, .work-item7 .left .left-text1{
    font-size: 30px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 700;
    font-family: "Lato";
}
.work-item3 .left .left-text2, .work-item5 .left .left-text2, .work-item7 .left .left-text2{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 24px;
    color: #20273b;
    font-weight: 400;
    font-family: "Noto Sans JP";
    padding-top: 5%;
}
.work-item3 .right, .work-item5 .right, .work-item7 .right{
    width: 50%;
    padding: 0 55%;
}
.work-item3 .right .work-it2-img1, .work-item5 .right .work-it2-img1, .work-item7 .right .work-it2-img1{
    width: 250px;
    height: 250px;
    position: absolute;
}
.work-item3 .right .work-it2-img2, .work-item5 .right .work-it2-img2, .work-item7 .right .work-it2-img2{
    width: 240px;
    height: 240px;
    position: absolute;

}
.work-item3 .right .work-it2-img3, .work-item5 .right .work-it2-img3, .work-item7 .right .work-it2-img3{
    width: 230px;
    height: 230px;
    position: absolute;
    padding: 33px;
}
.work-item3 .right .number2, .work-item5 .right .number4, .work-item7 .right .number6{
    font-size: 100px;
    letter-spacing: 2px;
    color: #feca01;
    font-weight: 400;
    font-family: "Lato";
    position: absolute;
    padding-left: 15%;
}

/* end item3 */
/* item 4 */
.work-item4, .work-item6, .work-item7{
    padding-top: 300px;
   
}
/* end item4 */
/* end work style */

/* start profile style */
.section-img2{
    background-color: #20273b;
    width: 100%;
}
.profile{
    width: 100%;
    height: 2150px;
    background-color: #20273b;
}
.profile-text1{
    font-size: 160px;
    letter-spacing: 3px;
    color: #5468a0;
    font-weight: 700;
    font-family: "Lato";
    padding: 3% 10%;
}
.profile-text2{
    font-size: 40px;
    letter-spacing: 1px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
    padding: 9%;
    padding-left: 38%;
}
.profile-top{
    padding-top: 17%;
    position: relative;
    text-align: center;
}

.profile-hr{
    width: 225px;
    height: 1px;
    background-color: #feca01;
    border: 1px solid #feca01;
    margin-left: 41%;
}
.pr-item2-text1, .pr-item3-text1, .pr-item4-text1, .pr-item5-text1{
    font-size: 32px;
    letter-spacing: 1px;
    color: #feca01;
    font-weight: 700;
    font-family: "Lato";
}
.pr-img1, .pr1-img1{
    position: absolute;
}
.pr-img2, .pr1-img2{
    position: absolute;
    margin-top: 2px;
    margin-left: 1px;
    width: 250px;
    height: 250px;
}
.pr-img3, .pr1-img3{
    position: absolute;
    margin-top: 50px;
    margin-left: 40px;
    width: 200px;
    height: 200px;
}
.pr-item2-img, .pr-item5-img{
    display: flex;
    justify-content: space-between;
    padding: 55px 422px 0px 190px;
}
.pr-item2-img1 p.ceo, .pr-item2-img2 p.ceo{
    padding-top: 280px;
    font-size: 16px;
    letter-spacing: 0px;
    color: #feca01;
    font-weight: 700;
    font-family: "Lato";
}
.pr-item2-img1 p.name, .pr-item2-img2 p.name{
    padding-top: 280px;
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
}
/* item3 */
.profile-item3{
    padding-top: 30%;
    position: relative;
    text-align: center;
    display: block;
}
.pr-item3-img{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.pr-img1-item3, .pr1-img1-item3, .pr2-img1-item3{
    position: absolute;
    width: 200px;
    height: 200px;
}
.pr-img2-item3, .pr1-img2-item3, .pr2-img2-item3{
    position: absolute;
    margin-top: 2px;
    margin-left: 1px;
    width: 190px;
    height: 190px;
}
.pr-item3-img1{
    padding-left: 20%;
}
.pr-item3-img3{
    padding-right: 39%;
}
/* end item3 */
/* start circle1 */
.mar{
    margin-top: 10%;
}
.mar2, .mar3{
    margin-top: 30%;
}
.circle1{
    width: 80px;
    height: 80px;
    border-radius: 40px;
    background-color: #feca01;
    position: absolute;
    /* margin-top: 1%; */

    font-size: 20px;
    letter-spacing: 0px;
    color: #20273b;
    font-weight: 400;
    text-align: center;
    font-family: "Noto Sans JP";
}

/* end circle1 */
/* inter */
sub{
    font-size: 35px;
}
.inter-text1, .inter-text2{
    font-size: 60px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 400;
    font-family: "Lato";
    position: absolute;
    margin-top: 70px;
    padding-left: 14px;
    /* margin-right: 70px; */
}
.inter-text3{
    font-size: 60px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 400;
    font-family: "Lato";
    position: absolute;
    margin-top: 70px;
}
/* end inter */
/* outer text */
.outer-text3{
    font-size: 16px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Noto Sans JP";
    margin-top: 210px;
}
/* outer end text */
/* item 4 start */

/* end item 4 */
.profile-item4{
    padding-top: 25%;
    position: relative;
    text-align: center;
    display: block;
}
.pr-item4-box{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.box1{
    padding-left: 20%;
}
.box2{
    padding-right: 20%;
}
.textarea1{
    /* width: 280px; */
    height: 230px;
    border-radius: 10px;
    background-color: #fffacb;
    border: 4px solid #ce816e;
}
.textarea2{
    /* width: 280px; */
    height: 230px;
    border-radius: 10px;
    background-color: #fffacb;
    border: 4px solid #ce816e;
}
.text-area1, .text-area2{
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    padding-top: 10px;
}
.text-area1{
    padding-left: 1px;
}
.text-area2{
    padding-left: 80px;
}
/* item 5 start */
.profile-item5{
    padding-top: 13%;
    position: relative;
    text-align: center;
    display: block;
}
.profile-hr-affi{
    width: 350px;
    height: 1px;
    background-color: #feca01;
    border: 1px solid #feca01;
    margin-left: 37%;
}
.pr-item5-img{
    display: flex;
    justify-content: space-between;
    padding-top: 60px;
}
.pr-img3-item5{
    position: absolute;
    margin-top: 70px;
    margin-left: 20px;
}
.pr1-img3-item5{
    position: absolute;
    margin-top: 40px;
    margin-left: 40px;
}
.pr2-img3-item5{
    position: absolute;
    margin-top: 80px;
    margin-left: 20px;
}

/* end */
/* end profile style */
/* start contact style */
.section-img3{
    /* margin-top: 15%; */
    background-color: #20273b;
    width: 100%;
}
.contacts{
    width: 100%;
    height: 1792px;
    background-color: #fff599;
}
.contact-item1{
    padding-top: 40px;
    display: flex;
    position: relative;
}
.contact-text1{
    padding-left: 440px;
    font-size: 160px;
    letter-spacing: 3px;
    color: #ffe600;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
}
.contact-text2{
    margin-top: 70px;
    padding-left: 225px;
    font-size: 40px;
    letter-spacing: 1px;
    color: #20273b;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
}
.contact-item2{
    padding: 17% 15%;
}

.contact-item2-container{
    background-color: #ffffff;
    border: 5px solid #feca01;
    border-radius: 20px;
}
.form-text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 125px;
    color: #ff0000;
    font-weight: 400;
    font-family: "Noto Sans JP";
}
span{
    color: #ff0000;
}
form{
    margin-top: 12%;
    margin-left: 6%;
}
.input-name{
    width: 80%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .input-lastname1, .input-lastname2{
    width: 36%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  
  label {
    padding: 12px 12px 12px 0;
    display: inline-block;
  }
  .label-name{
      padding-left: 20px;
  }
  .hr{
    margin-top: 5%;
    height: 1px;
    margin-right: 5%;
    border-radius: 0px;
    background-color: rgba(254,202,1,0.5019607843137255);
  }
  .div-lname, .div-ph, .div-gender, .div-address{
      padding-top: 30px;
  }
  .input-ph{
    width: 73%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .input-em{
    width: 73%;
    padding: 12px;
    margin-left: 18%;
    margin-top: 2%;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .input-address, .input-address2{
    width: 90%;
    height: 200px;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .div-address2{
      margin-top: 4%;
      padding-bottom: 40px;
  }
  .btn-button{
      padding: 0 0 40px 300px;
  }
  .btn{
    /* margin-top: 8%;
    margin-left: 30%; */
    width: 200px;
    height: 50px;
    border-radius: 25px;
    border: #feca01;
    background-color: #feca01;
  }
  .div-radio{
      display: inline;
      padding: 20px;
      /* padding: 12px 12px 12px 0; */
  }
/* end contact style */
/* start footer */
.footer{
    width: 100%;
    height: 160px;
    background-color: #20273b; 
}
.footer-content{
    display: flex; 
  justify-content: center; 
}
.footer-text{
    font-size: 16px;
    letter-spacing: 0px;
    line-height: 125px;
    color: #fffefe;
    font-weight: 400;
    font-family: "Noto Sans JP";
}
/* end footer */













/* reporsive media query start */

@media(max-width: 1170px){
    /* about */
    .about-item1{
        padding-left: 20px;
    }
    .about-item2{
        padding: 15% 0 0 5%;
    }
    /* end about */
    /* work */
    .work-item1{
        padding: 30px 0 0 270px;
    }
    .work-text1{
        font-size: 160px;
    }
    /* end work */
    /* profile  */
    .profile-top{
        padding-top: 18%;
    }
    .profile-hr{
        margin-left: 39%;
    }
    .profile-hr-affi{
        margin-left: 35%;
    }
    /* end profile */
    .contact-item2{
        padding: 20% 5%;
    }
    

}
@media(max-width: 1096px){
.works{
    height: 2200px;
}
.profile{
    height: 2000px;
}
}





@media(max-width: 992px){
    /* nav */
    .navbar .menu li.item1 a{
        font-size: 15px;
    }
    .navbar .menu li.item2 a{
        font-size: 10px;
    }
    li.item3 a{
        font-size: 15px;
    }
    /* end nav */
    /* about */
    p.text1{
        font-size: 140px;
    }
    p.text2{
        font-size: 30px;
        margin-top: 65px;
    }
    .about-item1{
        padding-left: 20px;
    }
    .about-item2{
        padding: 20% 0 0 5%;
    }
    /* end about */
    /* work */
    .work-item1{
        padding: 30px 0 0 200px;
    }
    .work-text1{
        font-size: 125px;
    }
    .work-text2{
        margin-top: 60px;
        font-size: 35px;
    }
    /* item 2 */
    .work-container{
        text-align: left;
        padding-top: 20%;
    }
    .work-item2 .left, .work-item4 .left, .work-item6 .left{
        width: 50%;
        padding-left: 10%;
    }
    .work-item2 .left .number1, .work-item4 .left .number3, .work-item6 .left .number5{
       padding: 0;
        margin-left: -64px;
    }
    /* end item2 */
    .work-item3, .work-item5, .work-item7{
        padding-top: 30%;
    }
    .work-item3 .left, .work-item5 .left, .work-item7 .left{
        width: 50%;
        padding-left: 3%;
    }
    .work-item3 .right .number2, .work-item5 .right .number4, .work-item7 .right .number6{
        padding-left: 20%;
    }
    /* end work */
    /* profile */
    .profile{
        height: 2150px !important;
    }
    .profile-text1{
        font-size: 145px;
        padding: 3% 5%;
    }
    .profile-top, .profile-top3{
        padding-top: 20%;
    }
    .profile-hr{
        margin-left: 38%;
    }
    .pr-item2-img, .pr-item5-img{
        display: flex;
        justify-content: space-between;
        padding: 55px 350px 0px 70px;
    }
    /* item3 */
    .pr-item3-img1{
        padding-left: 10%;
    }
    .pr-item3-img3{
        padding-right: 29%;
    }
    /* end item3 */
    /* item 4 */
    .profile-top4{
        margin-top: 100px;
    }
    .box1{
        padding-left: 15%;
    }
    .box2{
        padding-right: 15%;
    }
    /* end item 4 */
    /* item 5 */
    .profile-hr-affi{
        margin-left: 31%;
    }
    .pr-item5-img1{
        padding-left: 0;
    }
    .pr-item5-img3{
        padding-right: 0;
    }
    /* end item 5 */
    /* end profile */
    /* contact */
    .contact-text1{
        padding-left: 240px;  
    }
    .contact-text2{
        margin-top: 70px;
        padding-left: 90px;
    }
    .contact-item2{
        padding: 25% 0%;
    }
    .btn-button{
        padding: 0 0 40px 200px;
    }
    /* end contact */

}
@media(max-width: 844px){
    .works{
        height: 2000px;
    }
    .profile{
        height: 2000px !important;
    }
}







@media(max-width: 768px){
    .max-width{
        padding: 0 30px;
    }
    .menu-btn{
        display: block;
        z-index: 999;
    }
    .menu-btn i.active::before{
        content: "\f00d";
    }
    .navbar .menu{
        position: fixed;
        height: 90vh;
        width: 100%;
        top: 0;
        left: -100%;
        background: #111;
        text-align: center;
        padding-top: 80px;
        transition: all 0.3s ease;
    }
    .navbar .menu.active{
        left: 0;
    }
    .navbar .menu li{
        display: block;
    }
    .navbar .menu li a{
        display: inline-block;
        font-size: 15px;
        margin: 10px 0;
    }
    .navbar ul li.item1:hover::after{
        width: 15%;
        border: 3px solid #ffffff;
    }
    .navbar ul li.item2:hover::after{
        width: 5%;
        border: 2px solid #ffffff;
    }

/* home */ 
.home{
    height: 1232px;
}
.mv-img2{
    display: block;
    width: 100%;
    
}
.mv-img1{
    display: none;
}
p{
    font-size: 50px;
    letter-spacing: 1px;
    color: #feca01;
    font-weight: 700;
    font-family: "Lato";
    position: absolute;
    padding-top: 90%;
}
/* end home */
/* about */
.abouts{
    height: 1100px;
}
p.text1{
    font-size: 110px;
    padding: 0;
}
p.text2{
    font-size: 27px;
    padding: 0;
    margin-top: 60px;
    margin-left: 50px;
}
p.ai-text{
    font-size: 20px;
    letter-spacing: 0px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 400;
    font-family: "Noto Sans JP";
    padding: 30px 0 0 0;
    margin-left: 5%;
}
.about-item2 .right{
    padding: 50% 0 0 20%;
}
/* end about */
/* work */
.works{
    height: 3300px;
}
.work-item1{
    padding: 0 0 0 0px;
}
.work-text1{
    margin-top: -80%;
    /* margin-left: 50px; */
    font-size: 95px;
}
.work-text2{
    margin-top: -75%;
    font-size: 25px;
    margin-left: -50px;
    /* padding-left: 150px; */
}
.work-container{
    text-align: left;
    padding-top: 30%;
}
.work-item2 .left, .work-item4 .left, .work-item6 .left{
    width: 100%;
    padding-left: 200px;
}
.work-item2 .right, .work-item4 .right, .work-item6 .right{
    width: 100%;
    padding: 265px 19%;
}
.work-item2 .right .right-text1, .work-item4 .right .right-text1, .work-item6 .right .right-text1{
    padding: 0 40px;
}
.work-item2 .right .right-text2, .work-item4 .right .right-text2, .work-item6 .right .right-text2{
    padding: 5% 0;
}
/* item3 */
.work-item3, .work-item5, .work-item7{
    padding: 0;
    margin-top: -60px;
}
.work-item3 .right, .work-item5 .right, .work-item7 .right{
    width: 100%;
    padding: 0 26%;
}
.work-item3 .left, .work-item5 .left, .work-item7 .left{
    width: 100%;
    position: absolute;
    padding: 37% 19%;
}
.work-item3 .left .left-text1, .work-item5 .left .left-text1, .work-item7 .left .left-text1{
    padding: 0 40px;
}
.work-item3 .left .left-text2, .work-item5 .left .left-text2, .work-item7 .left .left-text2{
    padding: 5% 0;
}
.work-item3 .right .number2, .work-item5 .right .number4, .work-item7 .right .number6{
    padding: 0 25%;
}
/* end item3 */
/* item 4 */
.work-item4, .work-item6{
    padding-top: 70%;
}
/* end item4 */
/* end work */
/* profile */
.profile{
    height: 2300px !important;
}
.profile-text1{
    font-size: 100px;
    padding: 0;
    padding-top: 3%;
}
.profile-text2{
    font-size: 30px;
    padding: 10% 0 0 30%;
}
.profile-top{
    padding-top: 22%;
}
.profile-hr{
    margin-left: 30%;
}
.pr-img1, .pr1-img1{
    width: 200px;
    height: 200px;
}
.pr-img2, .pr1-img2{
    margin-top: 4px;
    margin-left: 2px;
    width: 190px;
    height: 190px;
}
.pr-img3, .pr1-img3{
    margin-top: 20px;
    margin-left: 20px;
    width: 170px;
    height: 170px;
}
.pr-item2-img, .pr-item5-img{
    padding: 55px 210px 0px 10px;
}
.pr-item2-img1 p.ceo, .pr-item2-img2 p.ceo{
    padding-top: 220px;
    padding-left: 20px;
}
.pr-item2-img1 p.name, .pr-item2-img2 p.name{
    padding-top: 230px;
    padding-left: 20px;
}
/* item 3 */
.profile-item3{
    padding-top: 40%;
    
}
.pr-img1-item3, .pr1-img1-item3, .pr2-img1-item3{
    width: 155px;
    height: 155px;
}
.pr-img2-item3, .pr1-img2-item3, .pr2-img2-item3{
    margin-top: 2px;
    margin-left: 1px;
    width: 145px;
    height: 145px;
}
.pr-item3-img1{
    padding-left: 1%;
}
.pr-item3-img3{
    padding-right: 35%;
}

/* inter */
sub{
    font-size: 25px;
}
.inter-text1, .inter-text2{
    font-size: 50px;
    padding-top: 0px;
}
.inter-text3{
    padding: 0px 0 0 30px;
    font-size: 50px;
}
.outer-text3{
    padding: 0px 0px 0 30px;
    margin-top: 170px;
}
/* end inter */
/* end item3 */
/* item4 */
.pr-item4-box{
    display: block;
}
.textarea1, .textarea2{
    width: 450px;
    height: 230px;
    border-radius: 10px;
    background-color: #fffacb;
    border: 4px solid #ce816e;
}
.box1{
    padding-left: 0;
}
.box2{
    padding-right: 0;
    padding-top: 10%;
}
.text-area1, .text-area2{
    font-size: 20px;
    letter-spacing: 0px;
    color: #ffffff;
    font-weight: 700;
    font-family: "Lato";
    margin-top: 10px;
}
.text-area1, .text-area2{
    padding-left: 50px;
}
/* end item 4 */
/* item 5 */
.profile-hr-affi{
    margin-left: 23%;
}
.pr-img3-item5{
    margin-top: 35px;
    margin-left: 10px;
    width: 120px;
    height: 80px;
}
.pr1-img3-item5{
    position: absolute;
    margin-top: 20px;
    margin-left: 10px;
}
.pr2-img3-item5{
    margin-top: 35px;
    margin-left: 10px;
    width: 120px;
    height: 80px;
}
/* end item 5 */
/* end profile */
/* contact */
.contact-item1{
    padding: 30px 0 0 20px;
}
.contact-text1{
    padding: 0 0 0 100px;
    font-size: 110px;
}
.contact-text2{
    padding: 0;
    margin-top: 50px;
    font-size: 27px;
}
.form-text{
    padding: 0 44px;
    margin-top: -20px;
}
.input-lastname1, .input-lastname2{
    width: 30%;
  }
  .input-ph{
    width: 65%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    resize: vertical;
  }
  .input-em{
    width: 65%;
    padding: 12px;
    margin-left: 20%;
  }
/* end contact */
/* footer */
.footer-text{
    padding: 0;
}
}

@media(max-width: 678px){ 
    .works{
        height: 3200px;
    }
}

@media(max-width: 593px){ 
    .works{
        height: 3000px;
    }
}










@media(max-width: 472px){ 
    /* home */
    .home{
        height: 1032px !important;
    }
    p{
        font-size: 35px !important;
    }
    /* end home */
    /* about */
    p.text1{
        font-size: 65px !important;
    }
    p.text2{
        font-size: 15px !important;
        margin-top: 40px !important;
        margin-left: 20px !important;
    }
    p.ai-text{
        font-size: 19px !important;
    }
    .about-item2 .right{
        padding: 120% 0 0 0 !important;
    }
    .icon-img{
        width: 310px !important;
    }
    /* end about */
    /* work */
    .works{
        height: 3880px;
    }
    .work-item1{
        padding: 0 !important;
    }
    .work-text1{
        font-size: 56px !important;
     }
    .work-text2{
        margin-top: -73% !important;
        font-size: 15px !important;
    }
    /* item2 */
    .work-item2 .left, .work-item4 .left, .work-item6 .left{
        width: 100%;
        padding-left: 65px;
    }
    .work-item2 .left .number1, .work-item4 .left .number3, .work-item6 .left .number5 {
        padding: 0;
        margin-left: -51px;
        margin-top: -33px;
        font-size: 100px !important;
    }
    .work-item2 .right .right-text1, .work-item4 .right .right-text1, .work-item6 .right .right-text1 {
        padding: 0;
        font-size: 30px !important;
    }
    .work-item2 .right .right-text2, .work-item4 .right .right-text2, .work-item6 .right .right-text2 {
        padding: 0;
        font-size: 20px !important;
        margin: 31px 0 0 -40px;
    }
    /* end item 2 */
    /* item 3 */
    .work-item3, .work-item5, .work-item7{
        padding:50px 10px;
    }
    .work-item3 .right, .work-item5 .right, .work-item7 .right{
        padding: 0 !important;
    }
    .work-item3 .left, .work-item5 .left, .work-item7 .left{
        padding:60% 5%;
        margin-top: 20%;
    }
    .work-item3 .right .number2, .work-item5 .right .number4, .work-item7 .right .number6{
        font-size: 100px !important;
        padding: 0;
        margin:-5% 60%;
    }
    .work-item3 .left .left-text1, .work-item5 .left .left-text1, .work-item7 .left .left-text1{
        padding: 0 10%;
        font-size: 30px !important;
    }
    .work-item3 .left .left-text2, .work-item5 .left .left-text2, .work-item7 .left .left-text2{
        padding: 5% 0;
        font-size: 20px !important;
    }
    /* end item3 */
    /* item4 */
    .work-item4, .work-item6{
        padding-top: 150%;
    }
    .work-item4 .right .right-text2, .work-item6 .right .right-text2{
       padding-top: 15px;
    }
    /* end item 4 */
    /*end work */
    /* profile */
    .profile{
        height: 1900px !important;
        }
    .profile-text1{
        font-size: 65px !important;
    }
    .profile-text2{
        font-size: 20px !important;
        padding: 11% 0 0 30% !important;
    }
    .pr-item2-text1, .pr-item3-text1, .pr-item4-text1, .pr-item5-text1{
        font-size: 29px;
    }
    .profile-hr{
        width: 220px;
        margin-left: 20%;
    }

    .pr-img1, .pr1-img1{
        width: 150px;
        height: 150px;
    }
    .pr-img2, .pr1-img2{
        margin-top: 3px;
        margin-left: 4px;
        width: 140px;
        height: 140px;
    }
    .pr-img3, .pr1-img3{
        margin-top: 20px;
        margin-left: 20px;
        width: 120px;
        height: 120px;
    }
    .pr-item2-img, .pr-item5-img{
        padding: 55px 160px 0px 5px;
    }
    .pr-item2-img1 p.ceo, .pr-item2-img2 p.ceo{
        font-size: 18px !important;
        padding-top: 160px !important;
        padding-left: 13px !important;
    }
    .pr-item2-img1 p.name, .pr-item2-img2 p.name{
       font-size: 16px !important;
        padding-top: 190px !important;
        padding-left: 20px;
    }
    /* item3 */
    .profile-top3{
        padding-top: 40%;
    }
    .circle1{
        width: 60px;
        height: 60px;
        font-size: 15px;
        margin-top: -10px;
    }
    .pr-img1-item3, .pr1-img1-item3, .pr2-img1-item3{
        width: 110px;
        height: 110px;
    }
    .pr-img2-item3, .pr1-img2-item3, .pr2-img2-item3{
        width: 105px;
        height: 105px;
    }
    sub{
        font-size: 20px;
    }
    .inter-text1, .inter-text2{
        font-size: 40px;
        margin-top: 45px;
    }
    .inter-text3{
        font-size: 60px;
        margin-top: 50px;
    }
    .outer-text3{
        margin-top: 110px !important;
        font-size: 15px !important;
    }
    /* end item 3 */
    /* item 4 */
    .textarea1, .textarea2{
        width: 300px;
    }
    .text-area1, .text-area2{
        font-size: 20px !important;
        margin-top: 0px;
        padding-left: 0 !important;
    }
    .text-area1, .text-area2{
        padding-top: 1px !important;
        padding-left: 30px !important;
    }
    /* end item 4 */
    /* item 5 */
    .profile-hr-affi{
        width: 270px;
        margin-left: 10%;
    }
    .pr-img3-item5{
        margin-top: 35px;
        margin-left: 10px;
        width: 80px;
        height: 50px;
    }
    .pr1-img3-item5{
        margin-top: 20px;
        margin-left: 10px;
        width: 80px;
        height: 80px;
    }
    .pr2-img3-item5{
        margin-top: 35px;
        margin-left: 10px;
        width: 80px;
        height: 50px;
    }
    /* end item 5 */
    /* end profile */
    /* contact */
    .contact-item1{
        padding: 30px 0 0 20px;
    }
    .contact-text1{
        padding: 0 0 0 40px;
        font-size: 80px !important;
    }
    .contact-text2{
        margin-top: 30px;
        font-size: 27px !important;
    }
    .form-text{
        font-size: 20px !important;
        margin-top: -30px !important;
    }
    .input-lastname1, .input-lastname2{
        width: 90%;
        padding: 12px;
      }
      .input-ph{
        width: 100%;
      }
      .input-em{
        width: 100%;
        padding: 12px;
        margin-left: 0%;
      }
      .btn-button{
        padding: 0 0 40px 90px;
    }
      .btn{
        width: 150px;
      }
    /* end contact */
    .footer-text{
        font-size: 20px !important;
    }
}



@media(max-width: 403px){ 
   .home{
       height: 800px !important;
   }
   .abouts{
       height: 900px !important;
   }
   .works{
       height: 3700px !important;
   }
   .profile{
    height: 1800px !important;
    }
}

@media(max-width: 370px){ 
    .works{
        height: 3600px !important;
    }
    .profile{
        height: 1800px !important;
    }
 }
 @media(max-width: 335px){ 
    .works{
        height: 3450px !important;
    }
    .profile{
        height: 1800px !important;
    }
 }
    